<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210354050457-bmuro1b9c6qsrmmcm05ko05uur7hne3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210354050457-bmuro1b9c6qsrmmcm05ko05uur7hne3j</string>
	<key>API_KEY</key>
	<string>AIzaSyA2soZNKoSpCHl51zbu3atYUhXTyoVUTpo</string>
	<key>GCM_SENDER_ID</key>
	<string>210354050457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-000.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-7ffd5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7ffd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210354050457:ios:ed106839fd7fad89</string>
	<key>DATABASE_URL</key>
	<string>https://chat-7ffd5.firebaseio.com</string>
</dict>
</plist>